<div class="footer__container grid">
  <div class="footer__content">
    <a href="/index.html" class="footer__logo">
      <img src="/assets/images/logo.png" alt="Logo" class="nav__logo-img">
    </a>
    <h4 class="footer__subtitle">Contact</h4>
    <p class="footer__description">
      <span>Address:</span> 572 Vo Van Kiet, District 1, Ho Chi Minh City
    </p>
    <p class="footer__description">
      <span>Phone:</span> (+84) 123 456 789
    </p>
    <div class="footer__social">
      <h4 class="footer__subtitle">Follow Us</h4>
      <div class="footer__social-links flex">
        <a href="#"><img src="/assets/images/icon-facebook.svg" alt="Facebook" class="footer__social-icon" /></a>
        <a href="#"><img src="/assets/images/icon-twitter.svg" alt="Twitter" class="footer__social-icon" /></a>
        <a href="#"><img src="/assets/images/icon-instagram.svg" alt="Instagram" class="footer__social-icon" /></a>
        <a href="#"><img src="/assets/images/icon-pinterest.svg" alt="Pinterest" class="footer__social-icon" /></a>
        <a href="#"><img src="/assets/images/icon-youtube.svg" alt="YouTube" class="footer__social-icon" /></a>
      </div>
    </div>
  </div>

  <div class="footer__content">
    <h3 class="footer__title">Information</h3>
    <ul class="footer__links">
      <li><a href="/pages/about/index.html" class="footer__link">About Us</a></li>
      <li><a href="/pages/shop/index.html" class="footer__link">Our Shop</a></li>
      <li><a href="/pages/contact/index.html" class="footer__link">Contact Us</a></li>
      <li><a href="#" class="footer__link">Privacy Policy</a></li>
      <li><a href="#" class="footer__link">Terms & Conditions</a></li>
    </ul>
  </div>

  <div class="footer__content">
    <h3 class="footer__title">My Account</h3>
    <ul class="footer__links">
      <li><a href="/pages/auth/index.html" class="footer__link">Sign In / Register</a></li>
      <li><a href="/pages/cart/index.html" class="footer__link">View Cart</a></li>
      <li><a href="/pages/wishlist/index.html" class="footer__link">My Wishlist</a></li>
      <li><a href="/pages/accounts/index.html" class="footer__link">Account Details</a></li>
      <li><a href="/pages/accounts/index.html?tab=support-tickets" class="footer__link">Support Ticket</a></li>
    </ul>
  </div>

  <div class="footer__content">
    <h3 class="footer__title">Secured Payment Gateways</h3>
    <img src="/assets/images/payment-method.png" alt="Payment Methods" class="payment__img" />
    <p class="footer__description" style="margin-top: 1rem; font-size: var(--smaller-font-size);">
      We accept major credit cards and secure online payments.
    </p>
  </div>
</div>

<div class="footer__bottom">
  <p class="copyright">&copy; 2026 EVELENS</p>
  <span class="designer">Made by BaoTiep Team</span>
</div>


