<div class="admin-header-content flex">
    <div class="admin-context flex">
        <button id="sidebar-toggle" class="sidebar-toggle">
            <i class="fi fi-rs-menu-burger"></i>
        </button>
        <h2 class="admin-header-title">STAFF PORTAL</h2>
    </div>

    <div class="admin-user-info flex" id="admin-user-portal">
        <div class="user-trigger flex user-trigger--admin">
             <i class="fi fi-rs-user"></i>
             <span id="admin-user-name">Loading...</span>
        </div>
    </div>
</div>
