<div class="header__top">
  <div class="header__container container">
    <div class="header__contact">
      <span><i class="fi fi-rs-phone-call"></i> (+01) - 2345 - 6789</span>
    </div>
    
    <p class="header__alert-news">
      Free shipping on all orders over $50
    </p>

    <div class="header__top-links" id="header-user-portal">
      <a href="/pages/auth/" class="header__top-action">
        Sign In / Sign Up
      </a>
    </div>
  </div>
</div>

<nav class="nav container">
  <a href="/" class="nav__logo">
    <img src="/assets/images/logo.png" alt="Logo" class="nav__logo-img">
  </a>

  <!-- Desktop Navigation Menu -->
  <div class="nav__menu" id="nav-menu">
    <div class="nav__menu-top">
      <a href="/" class="nav__menu-logo">
         <img src="/assets/images/logo.png" alt="Logo" class="nav__logo-img">
      </a>
      <div class="nav__close" id="nav-close">
        <i class="fi fi-rs-cross-small"></i>
      </div>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="/pages/shop/" class="nav__link">Shop</a>
      </li>
      <li class="nav__item">
        <a href="/pages/about/" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="/pages/contact/" class="nav__link">Contact</a>
      </li>
      <li class="nav__item">
        <a href="/pages/accounts/" class="nav__link">My Account</a>
      </li>
      <!-- Mobile Auth Link -->
      <li class="nav__item mobile-only-link">
        <a href="/pages/auth/" class="nav__link">Sign In</a>
      </li>
    </ul>
  </div>

  <div class="header__search-wrap">
    <div class="header__search">
      <input type="text" placeholder="Search for items..." class="form__input" />
      <button class="search__btn">
        <i class="fi fi-rs-search"></i>
      </button>
    </div>

    <div class="header__user-actions">
      <a href="/pages/wishlist/" class="header__action-btn" title="Wishlist">
        <img src="/assets/images/icon-heart.svg" alt="Wishlist" />
        <span class="count" id="wishlist-count">0</span>
      </a>
      <a href="/pages/cart/" class="header__action-btn" title="Cart">
        <img src="/assets/images/icon-cart.svg" alt="Cart" />
        <span class="count" id="cart-count"></span>
      </a>

      <!-- Mobile Menu Toggle -->
      <div class="header__action-btn nav__toggle" id="nav-toggle">
        <img src="/assets/images/menu-burger.svg" alt="Toggle Menu">
      </div>
    </div>
  </div>
</nav>

