COMPOSE_PROJECT_NAME=eyewear_system_uth
POSTGRES_DB=eyewear_system
POSTGRES_USER=eyewear_admin
POSTGRES_PASSWORD=eyewear_secret
POSTGRES_PORT=5432
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@eyewear.local
PGADMIN_DEFAULT_PASSWORD=admin123
