APP_NAME="Eyewear Backend"
APP_ENV=local
APP_URL=http://127.0.0.1:8000
APP_DEBUG=true
API_PREFIX=/api

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eyewear_system
DB_USERNAME=root
DB_PASSWORD=

CORS_ALLOWED_ORIGIN=http://127.0.0.1:5500
