<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <div class="header__contact">
        <span>(+01) - 2345 - 6789</span>
        <span>Our location</span>
      </div>
      <p class="header__alert-news">
        Super Values Deals - Save more coupons
      </p>
      <a href="login-register.html" class="header__top-action">
        Log In / Sign Up
      </a>
    </div>
  </div>

  <nav class="nav container">
    <a href="index.html" class="nav__logo">
      <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
    </a>
    <div class="nav__menu" id="nav-menu">
      <div class="nav__menu-top">
        <a href="index.html" class="nav__menu-logo">
           <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
        </a>
        <div class="nav__close" id="nav-close">
          <i class="fi fi-rs-cross-small"></i>
        </div>
      </div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../../../index.html" class="nav__link active-link">Home</a>
        </li>
        <li class="nav__item">
          <a href="../shop/" class="nav__link">Shop</a>
        </li>
        <li class="nav__item">
          <a href="../prescription/" class="nav__link">Prescription</a>
        </li>
        <li class="nav__item">
          <a href="../accounts/" class="nav__link">My Account</a>
        </li>
        <li class="nav__item">
          <a href="../contact/" class="nav__link">Contact</a>
        </li>
      </ul>
      <div class="header__search">
        <input
          type="text"
          placeholder="Search For Items..."
          class="form__input"
        />
        <button class="search__btn">
          <img src="assets/img/search.png" alt="search icon" />
        </button>
      </div>
    </div>
    <div class="header__user-actions">
      <a href="wishlist.html" class="header__action-btn" title="Wishlist">
        <img src="assets/img/icon-heart.svg" alt="" />
        <span class="count">0</span>
      </a>
      <a href="cart.html" class="header__action-btn" title="Cart">
        <img src="assets/img/icon-cart.svg" alt="" />
        <span class="count">0</span>
      </a>
      <div class="header__action-btn nav__toggle" id="nav-toggle">
        <img src="./assets//img/menu-burger.svg" alt="">
      </div>
    </div>
  </nav>
</header>
