<a href="/" class="nav__logo">
    <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
</a>

<nav class="sidebar-nav">
    <li><a href="/src/pages/dashboard/admin/" class="sidebar-link active"><i class="fi fi-rs-settings"></i> System Admin</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-user"></i> Master Users</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-network-cloud"></i> System Config</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-database"></i> Database</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-shield-exclamation"></i> Security Logs</a></li>
    <li style="margin-top: auto;"><a href="/src/pages/auth/" class="sidebar-link"><i class="fi fi-rs-sign-out-alt"></i> Logout</a></li>
</nav>
