<a href="/" class="nav__logo">
    <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
</a>

<nav class="sidebar-nav">
    <li><a href="/src/pages/dashboard/ops/" class="sidebar-link active"><i class="fi fi-rs-settings-sliders"></i> Ops Dashboard</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-box"></i> Packaging</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-truck-side"></i> Shipping</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-tool"></i> Lab/Fitting</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-chart-pie"></i> Inventory</a></li>
    <li style="margin-top: auto;"><a href="/src/pages/auth/" class="sidebar-link"><i class="fi fi-rs-sign-out-alt"></i> Logout</a></li>
</nav>
