<a href="/" class="nav__logo">
    <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
</a>

<nav class="sidebar-nav">
    <li><a href="/src/pages/dashboard/sales/" class="sidebar-link active"><i class="fi fi-rs-apps"></i> Dashboard</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-shopping-cart"></i> Order Processing</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-document"></i> Prescriptions</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-time-past"></i> Pre-orders</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-headset"></i> Support</a></li>
    <li style="margin-top: auto;"><a href="/src/pages/auth/" class="sidebar-link"><i class="fi fi-rs-sign-out-alt"></i> Logout</a></li>
</nav>
