<a href="/" class="nav__logo">
    <h2 style="font-weight: 800; color: var(--first-color);">EYEWEAR.UTH</h2>
</a>

<nav class="sidebar-nav">
    <li><a href="/src/pages/admin/" class="sidebar-link active"><i class="fi fi-rs-apps"></i> Dashboard</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-shopping-cart"></i> Orders</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-box"></i> Products</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-users"></i> Customers</a></li>
    <li><a href="#" class="sidebar-link"><i class="fi fi-rs-settings"></i> Settings</a></li>
    <li style="margin-top: auto;"><a href="/src/pages/auth/" class="sidebar-link"><i class="fi fi-rs-sign-out-alt"></i> Logout</a></li>
</nav>
